/* Load fonts */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
}
body {
  background-color: #fff;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
#wrapper {
  left: 50%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
#wrapper h1 {
  font-size: 3.2em;
  font-weight: 200;
  margin: 0 0 0.65em;
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.65);
}
.pl-countdown {
  width: 100%;
}
